<%- include('../partials/header') %>

<div class="search-container">
    <form class="search-form" action="/users" method="GET">
        <input type="text" name="username" placeholder="Enter a Username">
        <button type="submit">search</button>
    </form>
    
    <br><br>
    <h3>Results: </h3>
    <div class="search-results">
        <% if(matchingUser?.length) { %>
            <a href="/users/<%= matchingUser[0]._id %>">
                <div class="profile-page-user-info"><img alt="avatar" src="<%= matchingUser[0].avatar %>" referrerpolicy="no-referrer" ><%= matchingUser[0].name %></div>
            </a>
        <% } else { %>
            <h5>No users by that name please try again...</h5>
        <% } %>
    </div>
</div>


<%- include('../partials/footer') %>