<%- include('../partials/header') %>

<div class="user-page-container">
    <div class="profile-page-user-info"><img alt="avatar" src="<%= pageUser.avatar %>" referrerpolicy="no-referrer" ><%= pageUser.name %></div>
    <% if(userPosts) { %>
        <div class="profile-posts">
        <% userPosts.forEach(function(post) { %>
            <a href="/posts/<%= post._id %>">
                <img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Post image">
            </a>
        <% }) %>
        </div>
    <% } else { %>
        <h5>no posts yet</h5>
    <% } %>
</div>



<%- include('../partials/footer') %>