<%- include('../partials/header') %>

<% if (posts.length) {%>
    <div class="posts-container">
        <% posts.forEach(function(post) { %>
            <div class="post">
                <div class="post-user-info"><img alt="avatar" src="<%= post.userAvatar %>" referrerpolicy="no-referrer" ><%= post.userName %></div>
                <img src= <%= post.imageUrl %> alt="Post image">
                <div class="description"><%= post.description %></div>
                <a href="/posts/<%= post._id %>">SEE DETAILS</a>
            </div>
        <% }) %>
    </div>
<% } else { %>
    <h5>No Posts Yet</h5>
<% } %>

<!-- "https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" -->

<%- include('../partials/footer') %>