<%- include('../partials/header') %>

<% if (posts.length) {%>
    <% posts.forEach(function(post) { %>
        <div class="post">
            <div class="post-user-info"><img alt="avatar" src="<%= post.userAvatar %>" referrerpolicy="no-referrer" ><%= post.userName %></div>
            <br><br>
            <img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Post image">
            <br><br>
            <div class="description"><%= post.description %></div>
            <!-- <button class="full-recipe">See Full Recipe</button> -->
        </div>

    <% }) %>
<% } else { %>
    <h5>No Posts Yet</h5>
<% } %>

<%- include('../partials/footer') %>