<%- include('../partials/header') %>

<div class="post-user-info"><img alt="avatar" src="<%= post.userAvatar %>" referrerpolicy="no-referrer" ><%= post.userName %></div>
<a href="/users/<%= post.user._id %>">View Profile</a>
<br><br>
<img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Post image">
<br>
<% if(user) { %>
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <% if(post.usersLiked.some(userId => userId.equals(user._id))) {%>
            <button type="submit">DISLIKE</button>
        <% } else { %>
            <button type="submit">LIKE</button>
        <% } %>
    </form>
<% } %>
<br>
<div class="description"><%= post.description %></div>


<% if (user?._id.equals(post.user)) { %>
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button type="submit">delete post</button>
    </form>
<% } %>

<br><br>
<h3>Comments</h3>
<% if(post.comments){ %>
    <% post.comments.forEach(function(comment){ %>
        <div class = 'comment'>
            <div class="comment-user-info"><img alt="avatar" src="<%= comment.userAvatar %>" referrerpolicy="no-referrer" ><%= comment.userName %></div>
            <br>
            <p><%= comment.content %></p>
        </div>
        <br><br>
    <%  }); %>
<% } else { %>
    <h5>no comments yet</h5>
<% } %>

<% if (user) { %>
    <form id="add-comment-form" method="POST" action="/posts/<%= post._id %>/comments">
        <label>Comment:</label>
        <textarea name="content"></textarea>
        <input type="submit" value="Post Comment">
    </form>
<% } %>


<%- include('../partials/footer') %>