<%- include('../partials/header') %>
<div class="show-container">
    <a href="/users/<%= post.user._id %>">
        <div class="post-user-info"><img alt="avatar" src="<%= post.userAvatar %>" referrerpolicy="no-referrer" ><%= post.userName %></div>
    </a>
    <br>
    <img class="post-img" src= <%= post.imageUrl %> alt="Post image">
    <br>
    <div class="show-buttons">
        <% if(user) { %>
            <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
                <% if(post.usersLiked.some(userId => userId.equals(user._id))) {%>
                    <button class="unlike" type="submit">Unlike</button>
    
                <% } else { %>
                    <button class="like" type="submit">Like</button>
                <% } %>
            </form>
        <% } %>
    
        <% if (user?._id.equals(post.user)) { %>
            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button class="delete" type="submit">Delete Post</button>
            </form>
        <% } %>
    </div>

    <div class="description"><%= post.description %></div>
    
    

    
    <br><br>
    <h3>Comments</h3>
    <% if(post.comments){ %>
        <% post.comments.forEach(function(comment){ %>
            <div class = 'comment'>
                <div class="comment-user-info"><img alt="avatar" src="<%= comment.userAvatar %>" referrerpolicy="no-referrer" ><%= comment.userName %></div>
                <p><%= comment.content %></p>
            </div>
            <br>
        <%  }); %>
    <% } else { %>
        <h5>no comments yet</h5>
    <% } %>
    
    <% if (user) { %>
        <form id="add-comment-form" method="POST" action="/posts/<%= post._id %>/comments">
            <label>Comment:</label>
            <textarea name="content"></textarea>
            <input class="post-comment" type="submit" value="Post Comment">
        </form>
    <% } %>
</div>


<%- include('../partials/footer') %>